<html>
    <head>
        <style>
            .container {
                max-width: 600px;
                text-align: center;
                color: black;
            }
        </style>
    </head>
    <body>
        <div class='container'>

            <p class='p_title'>Ваш заказ на Donut Game в процессе выполнения😎</p>
            <p class='p_lore'>
                Для выполнения заказа нам необходимо войти в ваш игровой аккаунт.<br>
                Перейдите по ссылке ниже на наш сайт и введите код подтверждения,<br>
                который пришел вам от разработчиков игры.
            </p>

            <p><a href='<%= url %>'>👉Перейти👈</a></p>


        </div>
    </body>
</html>